# Pandas - Series

In [24]:
import pandas as pd
# Empty Series 
ser=pd.Series()
print(ser)

data=pd.Series(['a', 'e', 'i', 'o', 'u'])
print(data)
print("\ndata[2] = ", data[2])
print(data[0:2])
print("\nValues by label :\n",data[[3,4]])

Series([], dtype: object)
0    a
1    e
2    i
3    o
4    u
dtype: object

data[2] =  i
0    a
1    e
dtype: object

Values by label :
 3    o
4    u
dtype: object

In [16]:
mid=pd.Series(['MID20230001','MID20230002','MID20230003','MID20230004'], index=['Alex','Nia','Jhon','Bob'])
for i in mid:
    print(i)
print(mid)

MID20230001
MID20230002
MID20230003
MID20230004
Alex    MID20230001
Nia     MID20230002
Jhon    MID20230003
Bob     MID20230004
dtype: object

In [17]:
l1=[40,36,25]
shop=pd.Series(l1, index=['Sugar','Rice','Banana'])
print(shop)

Sugar     40
Rice      36
Banana    25
dtype: int64

In [20]:
snan=pd.Series([10, 'NaN'],index=['a', 'b'])
print(snan)

a     10
b    NaN
dtype: object

In [27]:
dict1={'R':'Red', 'G':'Green', 'B':'Blue'}
s=pd.Series(dict1)
print(s)

R      Red
G    Green
B     Blue
dtype: object

In [29]:
conds=pd.Series([1,2,3,4,5,6,7,8,9,10])
# Returns boolean value
print(conds>5)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [35]:
# Mathematical Operation on Series
import numpy as np
s1=pd.Series([10,11,12])
s2=pd.Series([13,14,np.nan])
s3=pd.Series([20,21,pd.NA])
print(s1+s2)
print("\ns2+s3 = ", s2+s3)

0    23.0
1    25.0
2     NaN
dtype: float64

s2+s3 =  0    33.0
1    35.0
2    <NA>
dtype: object

In [82]:
sc=pd.Series([1,0,2,1,2,3], index=['white','white','blue','green','green','yellow'])

print(sc)

print("\nPrinting all values by rm duplicate : ",sc.unique())

print("\nReturn values and count (unique with count):\n",sc.value_counts())

print("\nReturn value and boolean:\n",sc.isin([1]))

import numpy as np
sc1=pd.Series([1,np.nan], index=['white','yellow'])
print("\n => isnull:\n",sc1.isnull())
print("\n => isnotNull:\n",sc1.notnull())

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

Printing all values by rm duplicate :  [1 0 2 3]

Return values and count (unique with count):
 1    2
2    2
0    1
3    1
Name: count, dtype: int64

Return value and boolean:
 white      True
white     False
blue      False
green      True
green     False
yellow    False
dtype: bool

 => isnull:
 white     False
yellow     True
dtype: bool

 => isnotNull:
 white      True
yellow    False
dtype: bool

In [7]:
# isnull() and notall()
import pandas as pd
import numpy as np
data2={'A':[1,2,np.nan,4,5], 'B':[np.nan,2,3,np.nan,5]}
df4=pd.DataFrame(data2)

is_nan=df4.isnull()
not_nan=df4.notnull()
print("\n +++ is nan +++ \n", is_nan, "\n +++ is not null +++ \n",not_nan)

 +++ is nan +++
        A      B
0  False   True
1  False  False
2   True  False
3  False   True
4  False  False
 +++ is not null +++
        A      B
0   True  False
1   True   True
2  False   True
3   True  False
4   True   True

In [85]:
d1={'red':2000,'blue':1000,'yellow':500,'Orange':1000}
sd1=pd.Series(d1)

d2={'red':400,'yellow':100,'black':700}
sd2=pd.Series(d2)

print("2 dict series addition :\n", sd1+sd2)

2 dict series addition :
 Orange       NaN
black        NaN
blue         NaN
red       2400.0
yellow     600.0
dtype: float64

In [87]:
s4=pd.Series(777, range(5))
print(s4)

0    777
1    777
2    777
3    777
4    777
dtype: int64

# Data Frame

In [98]:
a=[0,0,0,0,0]
b=[0,1,2,3,4]
c=[0,2,4,6,8]
d=[0,2,4,6,8]

df=pd.DataFrame([a,b,c,d])
print("=== Multiplication Table ===\n")
print(df)

=== Multiplication Table ===

   0  1  2  3  4
0  0  0  0  0  0
1  0  1  2  3  4
2  0  2  4  6  8
3  0  2  4  6  8

In [108]:
bill1=[320,330,347,319,380]
bill2=[600,633,700,734,580]
bill3=[800,823,923,795,987]
total=[sum(i) for i in zip(bill1,bill2,bill3)]

print("=== Your expense ===\n")
df=pd.DataFrame([bill1,bill2, bill3,total],index=['Paper','Milk', 'Electricity', 'Total in each month'],columns=['Jan', 'Feb', 'Mar', 'Apr', 'May'])
print(df)

=== Your expense ===

                      Jan   Feb   Mar   Apr   May
Paper                 320   330   347   319   380
Milk                  600   633   700   734   580
Electricity           800   823   923   795   987
Total in each month  1720  1786  1970  1848  1947

In [129]:
# Data Frame using numpy array
matches=np.array([543,1738,3478,37,34])
score=np.array([19823,42323,67546,2423,2833])
players=np.array(['Player 1','Player 2', 'Player 3','Player 4','Player 5'])
match_type=np.array(['Matches', 'Score', 'Average'])
df_crciket=pd.DataFrame([matches, score, [i[1]//i[0] for i in zip(matches,score)]], index=match_type, columns=players)
print(df_crciket)

         Player 1  Player 2  Player 3  Player 4  Player 5
Matches       543      1738      3478        37        34
Score       19823     42323     67546      2423      2833
Average        36        24        19        65        83

In [132]:
# Data Frame using Tuple

t1=(1,0)
t2=(0,1)
df=pd.DataFrame([t1, t2], index=('00','10'), columns=('00','01'))
print(df)

    00  01
00   1   0
10   0   1

In [135]:
student_col=['Name', 'Roll No.', 'Course Name', 'Total Mark']
student_row=[1,2,3,4]
s1=['A',1001,'CS', 98]
s2=['B',1002,'EC',83]
s3=['C',1003,'PHY',78]
s4=['D',1004,'CHE',84]

name=['A','B','C','D']
roll_no=[1001,1002,1003,1004]
course_name=['CS','EC','PHY','CHE']
total_mark=[98,83,78,84]

sdf=pd.DataFrame([s1,s2,s3,s4], index=student_row, columns=student_col)
print("****** Student Details ******\n", sdf)

****** Student Details ******
   Name  Roll No. Course Name  Total Mark
1    A      1001          CS          98
2    B      1002          EC          83
3    C      1003         PHY          78
4    D      1004         CHE          84

In [137]:
d1={'Name':['A','B','C','D'], 'Roll No.':[1001,1002,1003,1004],'Course Name':['CS','EC','PHY','CHE'],'Total Mark': [98,83,78,84]}

sdfd=pd.DataFrame(d1)

print("###### Student Details Using Dictionary ######\n", sdfd)

###### Student Details Using Dictionary ######
   Name  Roll No. Course Name  Total Mark
0    A      1001          CS          98
1    B      1002          EC          83
2    C      1003         PHY          78
3    D      1004         CHE          84

In [165]:
data={'Name': ['Alice','Bob','Charlie','Dan'],'Age':[25,30,35,40]}
df=pd.DataFrame(data)
filtered_df=  df[df['Name'].isin(['Alice', 'Dan'])]
print(filtered_df)


fil_age=df[df['Age']>30]
print("\nFiltered By Age > 30 ",fil_age)

fil_name=df[df['Name'].isin(['Alice', 'Charlie'])]
print("\n", fil_name)

filtered_df_age30 = df[(df['Age'] < 35) | (df['Name'] == 'Alice')]
print("\nfiltered_df_age<30 or name = alice",filtered_df_age30)

    Name  Age
0  Alice   25
3    Dan   40

Filtered By Age > 30        Name  Age
2  Charlie   35
3      Dan   40

       Name  Age
0    Alice   25
2  Charlie   35

filtered_df_age<30 or name = alice     Name  Age
0  Alice   25
1    Bob   30

In [10]:
# Oues 1: A 100; B 200; C300; D 400; E 500;
s5=pd.Series([100,200,300,400,500], index=['A','B','C','D','E'])
s6=s5*2 # s5+s5
print("Series doubled\n", s6)

Series doubled
 A     200
B     400
C     600
D     800
E    1000
dtype: int64

In [12]:
# Oues 2: CS 95; PHY 89; CHEM: 92; MATH: 95;
mark=pd.Series([95,89,92,95],index=['CS','PHY','CHEM','MATH'])
# a] Display cs mark only
print("CS = ",mark['CS'])
# b ] Increase mark by 10 in all sub
new_mark=mark+10
print("New mark after add by 10 = \n", new_mark)

CS =  95
New mark after add by 10 =
 CS      105
PHY      99
CHEM    102
MATH    105
dtype: int64

In [16]:
# Oues 3: Guess the output
A=[10,20,25,50]
print(A*2) # [10, 20, 25, 50, 10, 20, 25, 50]
B=pd.Series([10,20,25,50])
print(B*2) # [0:20, 1:40, 2:50, 3:100]

[10, 20, 25, 50, 10, 20, 25, 50]
0     20
1     40
2     50
3    100
dtype: int64

In [24]:
# Oues 4: Guess the output
s7=pd.Series([39,41,42,44],index=['A','B','C','D'])
s8=pd.Series([10,10,10,10],index=['A','B','D','F'])

# a] s7[:2]*100      A    3900;      B    4100;      dtype: int64
print(s7[:2]*100)

#b] s7*s8            A    390.0      B    410.0      C      NaN      D    440.0      F      NaN       dtype: float64
print(s7*s8)

A    3900
B    4100
dtype: int64
A    390.0
B    410.0
C      NaN
D    440.0
F      NaN
dtype: float64

In [26]:
s9=pd.Series(range(2,11,2), index=[x for x in 'abcde'])
print(s9)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [31]:
s10=pd.Series([6,6,6,6,6], index=range(0,5))
print(s10)

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [39]:
d5={'A':[1,5],'B':[2,6],'C':[3,7]}

dfd2 = pd.DataFrame(d5, index=['X','Y'])
#dfd2 = pd.DataFrame(d5)
print(dfd2)

   A  B  C
X  1  2  3
Y  5  6  7

In [42]:
s1=pd.Series([10,20,30], index=['Jan','Feb','Mar'])
s2=pd.Series([40,50,60], index=['Jan','Feb','Mar'])

df6=pd.DataFrame([s1,s2],index=['First Week', 'Second week'])

print(df6)

             Jan  Feb  Mar
First Week    10   20   30
Second week   40   50   60

In [55]:
s3=pd.Series([150,180,200], index=['Mouse','Keyboard','Scanner'])
s4=pd.Series([200,200,280], index=['Mouse','Keyboard','Scanner'])
s5=pd.Series([300,190,330], index=['Mouse','Keyboard','Scanner'])
s6=pd.Series([400, 300, 450], index=['Mouse','Keyboard','Scanner'])

df7=pd.DataFrame([s3,s4,s5,s6], index=['Jan','Feb','Mar','Apr'])

print("------ Logged in Data ------\n", df7)

------ Logged in Data ------
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

In [152]:
data2={'Mouse':[150,200,300,400], 'Keyboard': [180,200,190,300], 'Scanner':[200,280,330,450]}
df8=pd.DataFrame(data2, index=['Jan','Feb','Mar','Apr'])
print(df8)

     Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

In [153]:


print("[[[[[ Full Data ]]]]]\n", df8)
# Extract Data 

print("\nExtracted Data\n", df8[['Mouse', 'Keyboard']])


print("\nMarch data by row\n", df8.loc['Mar'])

print("\nData by integer index row\n", df8.iloc[0])

print("\nData from Feb onwards select by row\n", df8.loc['Feb':])


print("\nData from Mar onwards select by row\n", df8.iloc[2:])


## Select multiple rows
print("\nSelect Jan and Feb\n", df8.loc[['Jan','Feb']])
print("\nSelect Mar and Apr\n", df8.iloc[[2,3]])

# Select Columns
print("\nOnly data of Mouse column  \n", df8.loc[:,'Mouse'])


print("\nOnly data of Mouse column by index \n", df8.iloc[:,0])

# Select Multiple Columns

print("\nMouse and Keyboard column\n", df8.loc[:,['Mouse', 'Keyboard']])
print("\nMouse and Keyboard column by index \n", df8.iloc[:,[0,1]])

### Row Range
print("\nRow range from jan to mar\n",df8.loc['Jan':'Mar'])
print("\nRow range from jan to mar by index\n",df8.iloc[0:2])

### Column Range
print("\nColumn range from Mouse to Scanner\n",df8.loc[:,'Mouse':'Scanner'])
print("\nColumn range from Mouse to Scanner by index\n",df8.iloc[:,0:3])

## Select row and column with range

print("\nJan to Mar of Mouse and Scanner\n", df8.loc['Jan':'Mar', 'Mouse':'Scanner'])
print("\nJan to Mar of Keyboard by index\n", df8.iloc[0:3, 1:2])

[[[[[ Full Data ]]]]]
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

Extracted Data
      Mouse  Keyboard
Jan    150       180
Feb    200       200
Mar    300       190
Apr    400       300

March data by row
 Mouse       300
Keyboard    190
Scanner     330
Name: Mar, dtype: int64

Data by integer index row
 Mouse       150
Keyboard    180
Scanner     200
Name: Jan, dtype: int64

Data from Feb onwards select by row
      Mouse  Keyboard  Scanner
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

Data from Mar onwards select by row
      Mouse  Keyboard  Scanner
Mar    300       190      330
Apr    400       300      450

Select Jan and Feb
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280

Select Mar and Apr
      Mouse  Keyboard  Scanner
Mar    300       190      330
Apr    400       300      450

Only data of Mouse column
 Jan    150
Feb    200
Mar    300
Apr    400
Name: Mouse, dtype: int64

Only data of Mouse column by index
 Jan    150
Feb    200
Mar    300
Apr    400
Name: Mouse, dtype: int64

Mouse and Keyboard column
      Mouse  Keyboard
Jan    150       180
Feb    200       200
Mar    300       190
Apr    400       300

Mouse and Keyboard column by index
      Mouse  Keyboard
Jan    150       180
Feb    200       200
Mar    300       190
Apr    400       300

Row range from jan to mar
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330

Row range from jan to mar by index
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280

Column range from Mouse to Scanner
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

Column range from Mouse to Scanner by index
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

Jan to Mar of Mouse and Scanner
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330

Jan to Mar of Keyboard by index
      Keyboard
Jan       180
Feb       200
Mar       190

In [157]:
# Adding Column

df8['Printer'] = [100, 200, 300, 400]
print("\nPrinting new added column\n", df8.loc[:,'Printer'])

df8.loc['May',:]=[50,20,70,80]
print("\nPrinting new added row\n", df8.loc['May'])

# Added data bcz of new field which eliminate error
df8['Printer'] = [100, 200, 300, 400, 500]
print("\nPrinting new added column\n", df8.loc[:,'Printer'])

Printing new added column
 Jan    100
Feb    200
Mar    300
Apr    400
May    500
Name: Printer, dtype: int64

Printing new added row
 Mouse       50.0
Keyboard    20.0
Scanner     70.0
Printer     80.0
Name: May, dtype: float64

Printing new added column
 Jan    100
Feb    200
Mar    300
Apr    400
May    500
Name: Printer, dtype: int64

Number of rows in the DataFrame df8 :  5

Shape of DataFrame df8 :
 (5, 4)

isnull df8
      Mouse  Keyboard  Scanner  Printer
Jan  False     False    False    False
Feb  False     False    False    False
Mar  False     False    False    False
Apr  False     False    False    False
May  False     False    False    False

Now df8 is :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0      20.0     70.0      500

Modified df8 is :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Top 3 data by row :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300

Bottom 2 data by row :
      Mouse  Keyboard  Scanner  Printer
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Transpose of data frame df8 :
             Jan    Feb    Mar    Apr    May
Mouse     150.0  200.0  300.0  400.0   50.0
Keyboard  180.0  200.0  190.0  300.0  700.0
Scanner   200.0  280.0  330.0  450.0   70.0
Printer   100.0  200.0  300.0  400.0  500.0

 Deletd row May
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400

 Deletd column Scanner
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Renamed columns heading :
      Mouses  Keyboards  Scanner  Printer
Jan   150.0      180.0    200.0      100
Feb   200.0      200.0    280.0      200
Mar   300.0      190.0    330.0      300
Apr   400.0      300.0    450.0      400
May    50.0      700.0     70.0      500

 Renamed row Jan to January :
          Mouse  Keyboard  Scanner  Printer
January  150.0     180.0    200.0      100
Feb      200.0     200.0    280.0      200
Mar      300.0     190.0    330.0      300
Apr      400.0     300.0    450.0      400
May       50.0     700.0     70.0      500

In [169]:
# Functions

print("\nNumber of rows in the DataFrame df8 : ",len(df8))
print("\nShape of DataFrame df8 : \n",df8.shape)
print("\nisnull df8\n", df8.isnull())


# Modify a value
print("\nNow df8 is : \n", df8)
df8.loc['May', 'Keyboard'] = 700
print("\nModified df8 is : \n", df8)

print("\nTop 3 data by row : \n",df8.head(3))
print("\nBottom 2 data by row : \n",df8.tail(2))
print("\nTranspose of data frame df8 : \n", df8.T)

# Delete a a row
print("\n Deletd row May \n", df8.drop('May')) # df8.drop(['Mar', 'Apr'])

# Delete a column
#del df8['Scanner']
print("\n Deletd column Scanner \n", df8)

# Rename a column

df9=df8.rename(columns={'Mouse': 'Mouses', 'Keyboard': 'Keyboards'})
print("\nRenamed columns heading : \n", df9)

# Row rename

df10 = df8.rename(index={'Jan': 'January'})
print("\n Renamed row Jan to January : \n", df10)


print("\nRow and corresponding column value : \n", df8.idxmax()) # column
print("\nRow and corresponding column value : \n", df8.idxmax(axis=1)) # row

print("\nSum in column = \n", df8.sum())
print("\nSum in row = \n", df8.sum(axis=1))

Number of rows in the DataFrame df8 :  5

Shape of DataFrame df8 :
 (5, 4)

isnull df8
      Mouse  Keyboard  Scanner  Printer
Jan  False     False    False    False
Feb  False     False    False    False
Mar  False     False    False    False
Apr  False     False    False    False
May  False     False    False    False

Now df8 is :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Modified df8 is :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Top 3 data by row :
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300

Bottom 2 data by row :
      Mouse  Keyboard  Scanner  Printer
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Transpose of data frame df8 :
             Jan    Feb    Mar    Apr    May
Mouse     150.0  200.0  300.0  400.0   50.0
Keyboard  180.0  200.0  190.0  300.0  700.0
Scanner   200.0  280.0  330.0  450.0   70.0
Printer   100.0  200.0  300.0  400.0  500.0

 Deletd row May
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400

 Deletd column Scanner
      Mouse  Keyboard  Scanner  Printer
Jan  150.0     180.0    200.0      100
Feb  200.0     200.0    280.0      200
Mar  300.0     190.0    330.0      300
Apr  400.0     300.0    450.0      400
May   50.0     700.0     70.0      500

Renamed columns heading :
      Mouses  Keyboards  Scanner  Printer
Jan   150.0      180.0    200.0      100
Feb   200.0      200.0    280.0      200
Mar   300.0      190.0    330.0      300
Apr   400.0      300.0    450.0      400
May    50.0      700.0     70.0      500

 Renamed row Jan to January :
          Mouse  Keyboard  Scanner  Printer
January  150.0     180.0    200.0      100
Feb      200.0     200.0    280.0      200
Mar      300.0     190.0    330.0      300
Apr      400.0     300.0    450.0      400
May       50.0     700.0     70.0      500

Row and corresponding column value :
 Mouse       Apr
Keyboard    May
Scanner     Apr
Printer     May
dtype: object

Row and corresponding column value :
 Jan     Scanner
Feb     Scanner
Mar     Scanner
Apr     Scanner
May    Keyboard
dtype: object

Sum in column =
 Mouse       1100.0
Keyboard    1570.0
Scanner     1330.0
Printer     1500.0
dtype: float64

Sum in row =
 Jan     630.0
Feb     880.0
Mar    1120.0
Apr    1550.0
May    1320.0
dtype: float64

In [166]:
s3=pd.Series([150,180,200], index=['Mouse','Keyboard','Scanner'])
s4=pd.Series([200,200,280], index=['Mouse','Keyboard','Scanner'])
s5=pd.Series([300,190,330], index=['Mouse','Keyboard','Scanner'])
s6=pd.Series([400, 300, 450], index=['Mouse','Keyboard','Scanner'])

df7=pd.DataFrame([s3,s4,s5,s6], index=['Jan','Feb','Mar','Apr'])

print("------ Logged in Data ------\n", df7)

------ Logged in Data ------
      Mouse  Keyboard  Scanner
Jan    150       180      200
Feb    200       200      280
Mar    300       190      330
Apr    400       300      450

In [162]:
import pandas as pd
import numpy as np

data = np.random.randint(0, 100, (4, 3))

df11 = pd.DataFrame(data, index=['Bob', 'Sally', 'Arun', 'John'], columns=['Test1', 'Test2', 'Test3'])
print(df11)

       Test1  Test2  Test3
Bob       25     87     70
Sally     72      9     26
Arun      99     29     19
John      12     52     56

In [176]:
info=pd.Series([31,41,51])
print(info>40)
print(info.add(info))
print(info.sub(info))
print(info.div(info))
print(info.mul(info))

0    False
1     True
2     True
dtype: bool
0     62
1     82
2    102
dtype: int64
0    0
1    0
2    0
dtype: int64
0    1.0
1    1.0
2    1.0
dtype: float64
0     961
1    1681
2    2601
dtype: int64

In [182]:
frame=pd.DataFrame(np.arange(16).reshape(4,4), index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])
print(frame)

ser=pd.Series([0,1,2,3], index=['ball','pen','pencil','paper'])
print("\n",ser)

print("\nframe+ser",frame+ser)

print("\nframe-ser",frame-ser)


sorted_frame_index = frame.sort_index()
print("\nDataFrame sorted by index:\n", sorted_frame_index)

sorted_frame_values = frame.sort_values(by='pen')
print("\nDataFrame sorted by 'pen' column values:\n", sorted_frame_values)


ser_dropna = ser.dropna()
print("\nSeries with NaN values removed:\n", ser_dropna)

ser_fillna = ser.fillna(99)
print("\nSeries with NaN values filled with 99:\n", ser_fillna)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

 ball      0
pen       1
pencil    2
paper     3
dtype: int64

frame+ser         ball  pen  pencil  paper
red        0    2       4      6
blue       4    6       8     10
yellow     8   10      12     14
white     12   14      16     18

frame-ser         ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

DataFrame sorted by index:
         ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

DataFrame sorted by 'pen' column values:
         ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

Series with NaN values removed:
 ball      0
pen       1
pencil    2
paper     3
dtype: int64

Series with NaN values filled with 99:
 ball      0
pen       1
pencil    2
paper     3
dtype: int64